<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sixd.greek.house.chefs" >



    <uses-feature android:name="android.hardware.location.gps" />

    <permission android:name="android.permission.ACCESS_FINE_LOCATION" android:protectionLevel="dangerous"/>
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:protectionLevel="dangerous"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.sixd.greek.house.chefs.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission
        android:name="com.sixd.greek.house.chefs.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.sixd.greek.house.chefs.permission.C2D_MESSAGE" />




    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/app_icon_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".UserSelectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <activity android:name=".HomeActivityStudent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <activity android:name=".ContactUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.MenuActivityCheff"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.MenuDevCategoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.MenuDevItemsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.MenuDevItemsDishActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.MenuDishDescriptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.SubmitRecipeActivityCheff"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.ContactUsActivityCheff"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.SchoolCalActivityCheff"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.EventActivityCheff"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.SocialMediaActivityCheff"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.LatePlateChefActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.LatePlateCheffDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.OutHouseNumbersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.OutHoseNumbersDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.AddMenuCheffActivityBreakFast"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.AddMenuCheffActivityLunch"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.AddMenuCheffActivityDinner"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.ChangePasswordActivityCheff"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.HomeActivityCheff"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <activity android:name=".Cheff.SubmitBudgetCheff"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity android:name=".Cheff.PastBudgetInfoDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity android:name=".Cheff.ForumCategoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.ForumTopicsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.ForumTopicsDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.ForumAddTopicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".Cheff.CravingCheffActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>





        <activity android:name=".ChangePasswordActivityStudent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".LatePlateRequestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".CravingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".EventActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".RateMyMealActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".OutofHouseMealAttandanceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".SocialMediaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".AllergyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>



        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name=".GCMIntentService" />

            </intent-filter>
        </receiver>

        <service
            android:exported="true"
            android:name=".GCMIntentService"></service>


    </application>

</manifest>